---
import "./ServicesSection.scss";
---

<section class="ServicesSection">
  <div class="carouselSection">
    <div id="carousel">
      <figure id="spinner">
        <div class="imageDiv" id="TypeScript"><img class="logo" src="/techLogos/TypeScript.png" alt="TypeScript" /></div>
        <div class="imageDiv" id="NodeJS"><img class="logo" src="/techLogos/NodeJS.png" alt="NodeJS" /></div>
        <div class="imageDiv" id="astro"><img class="logo" src="/techLogos/astro.png" alt="astro" /></div>
        <div class="imageDiv" id="Docker"><img class="logo" src="/techLogos/Docker.png" alt="Docker" /></div>
        <div class="imageDiv" id="GIT"><img class="logo" src="/techLogos/GIT.png" alt="GIT" /></div>
        <div class="imageDiv" id="CPP"><img class="logo" src="/techLogos/CPP.png" alt="CPP" /></div>
        <div class="imageDiv" id="Angular"><img class="logo" src="/techLogos/Angular.png" alt="Angular" /></div>
        <div class="imageDiv" id="REACT"><img class="logo" src="/techLogos/REACT.png" alt="REACT" /></div>
      </figure>
    </div>
    <div class="buttonSection">
      <a id="leftButton" class="ss-icon button">&lt;</a>
      <a id="rightButton" class="ss-icon button"> &gt;</a>
    </div>
  </div>
  <div class="description">
    <h2 id="title"></h2>
    <h4 id="subTitle"></h4>
    <h5 id="techDescription"></h5> 
    <a id="techHomeWebsite" href=""> Vist Website</a>
  </div>
</section>

<script>
  import "./ServicesSection.js";
</script>
