---
import ServicesSection from "../ServicesSection/ServicesSection.astro";
import WaveSection from "../WaveSection/WaveSection.astro";
import "./ScrollWrapper.scss";
---

<head>
	<title>Ryley Reid</title>
	<link rel="icon" href="icons/heart.ico" type="image/x-icon" />
</head>
<body>
	<div id="carousel-1" class="section">
		<WaveSection />
	</div>
	<div id="carousel-2" class="section">
		<ServicesSection />
	</div>
	<div id="carousel-3" class="section">
	</div>
	<script>
		if (typeof window !== 'undefined') {
			import('./ScrollWrapper.js')
			.then(({ default: run }) => run())
			.catch(err => console.log(err));
		}
	</script>
</body>