---
import "./index.scss";
import ScrollWrapper from "../components/ScrollWrapper/ScrollWrapper.astro";
---

<head>
	<title>Ryley Reid</title>
	<link rel="icon" href="icons/heart.ico" type="image/x-icon" />
</head>
<body>
	<ScrollWrapper />
</body>
